body {
    overflow-x: hidden;
}

.head {

    text-align: center;
    background-image: linear-gradient(to right, red, green, orange, yellow);
    margin: 0;
    text-decoration: underline;
}

.menu {
    border: 5px solid red;
    width: 814px;
    height: 75px;
    text-align: center;
    margin-top: 12px;
    margin-left: 230px;
    background-color: #aee7e8;
    border-radius: 25px;
}

.card {

    margin-top: 30px;
    width: 401px;
    height: 144px;
    border-radius: 20px;
    border: 2px solid grey;


    text-align: center;
    color: white;
    background-color: #2cbeeb;
    font-family: "Source Sans Pro", "Arial", sans-serif;
}


.corner {
    margin-top: 40px;
    border: 6px solid red;
    border-radius: 30px;
    background-color: yellowgreen;
}

.container {
    border: 5px solid red;
    border-radius: 23px;
    background-color: aqua;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}



.heading2 {
    background-image: linear-gradient(to right, rgb(253, 0, 0), yellow, red);
    align-items: center;
    text-align: center;
    text-decoration: underline;
}

.textp {
    margin: 5px;
    font-weight: bolder;
    color: black;
}

.card5 {
    border: 3px solid red;
    height: 171px;
    width: 263px;
    border-radius: 30px;
    background-color: yellow;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
    color: brown;

}

.card6 {
    border: 3px solid red;
    height: 179px;
    border-radius: 30px;
    width: 262px;
    background-color: yellow;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
    color: brown;

}

.card7 {
    border: 3px solid red;
    height: 179px;
    width: 262px;
    border-radius: 30px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
    background-color: yellow;
    color: brown;

}

.card8 {
    border: 3px solid red;
    color: brown;
    height: 171px;
    width: 263px;
    border-radius: 30px;
    text-align: center;
    background-color: yellow;
    text-decoration: underline;
    text-decoration-color: red;
}

.container2 {
    padding-top: 70px;
    background-image: radial-gradient(blue, rgb(70, 159, 165), green);
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    margin-top: 26px;
    padding-bottom: 70px;
}

.heading2 {
    height: 55px;
}




.text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: aliceblue;
}





.last {
    margin-top: 30px;
    padding-bottom: 10px;
    background-color: rgb(16, 111, 114);
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-rows: 100px 200px;
    grid-template-columns: repeat(3, 1fr)100px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;

}

.cardg1 {
    background-color: springgreen;
    font-size: 30px;
    color: white;
}

.cardg2 {
    background-color: cornflowerblue;
    font-size: 30px;
    color: white;
}

.cardg3 {
    background-color: purple;
    font-size: 25px;
    color: white;
}

.cardg4 {
    background-color: black;
    color: blanchedalmond;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.cardg5 {
    background-color: orange;
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
    font-size: 30px;
}

.heading3 {
    background-color: lightcoral;
    color: white;
    text-align: center;
}